// Variable Colors

$prim-color: #2A6CDE;
$off-white: #E1EFF6;
$body-bg: #ffffff;
$list-bg: #97D2FB;
$purple: #4CB944;
$text-color: $prim-color;
$blue-dark: #252C45;
$white: #ffffff;
$black: #000000;
$grey: #F7F8F8;
$border-grey: #cccccc;
$red: #CA271E;
$green: #006400;

$size-sm: 1.2rem;
$size-md: 1.6rem;
$size-lg: 3.2rem;
$size-xl: 4.8rem;

$gutter: 16px;
