.Logo {
    background-color: $blue-dark;
    color: $white;
    padding: ($gutter*2) 0;

    h1 {
        margin: 0;
    }

    &--centered {
        text-align: center;
    }

    a {
        color: $white;
        text-decoration: none;
    }
}